/* log & reg ===================================== */
.regParent {
  background-color: var(--color4);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  padding: 5rem 0 15rem;
}
/* login =======================================  */
.side_log {
  background-image: url(../public/log.jpg);
  width: 30vw;
  background-size: cover;
}
.log {
  color: var(--white);
  background-color: var(--color1);
  height: 60vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.log input {
  padding: var(--input-padding);
  background-color: var(--input-bg-color);
  border: none;
  border-bottom: var(--input-border-bottom);
  margin: var(--input-margin);
  outline: var(--input-outline);
}
.log button {
  padding: var(--button-padding);
  width: var(--button-width);
  background-color: var(--color2);
  border: none;
  &:hover {
    background-color: var(--color4);
  }
}
/* regestration =================================== */
.reg_side {
  background-image: url(../public/log.jpg);
  width: 30vw;
  background-size: cover;
}
.reg {
  color: var(--white);
  background: var(--color1);
  height: 60vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg input {
  padding: var(--input-padding);
  background-color: var(--input-bg-color);
  border: none;
  border-bottom: var(--input-border-bottom);
  margin: var(--input-margin);
  outline: var(--input-outline);
}

.reg button {
  padding: var(--button-padding);
  width: var(--button-width);
  background-color: var(--color2);
  border: none;
  &:hover {
    background-color: var(--color4);
  }
}

/* =================================================================== */
/* componenets  */
/* ================================================================ */

/* card========================================= */
.card {
  /* height: 22rem; */
  width: 15rem;
  overflow: hidden;
  /* background-color: pink; */
  /* border-radius: 10px; */
  /* padding: 0.2rem; */
  /* border: 1px solid var(--color4); */
}
.card_img_part {
  border: 1px solid var(--color4);
  /* border: 1px solid; */
  /* background-color: aqua; */
  width: 100%;
  /* height: 15rem; */
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_img {
  height: 12rem;
  width: 12rem;

  /* margin: auto; */

  /* border-radius: 30px; */
  background-size: cover;
  &:hover {
    zoom: 110%;
  }
}
.card_heading {
  /* background-color: aqua; */
  height: 1rem;
  padding: 5px 10px;
  font-size: .8rem;
  /* font-size: 1rem; */
  overflow: hidden;
  font-weight: 200;
}
.card_R_St {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 7px 0px;
}
.card_reating {
  /* padding: 0px 10px; */
  
}
.card_price {
  padding: 0px 10px;
  font-weight: 100;
  font-size: .7rem;
}
.card_btn {
  background-color: var(--color4);
  padding: 7px 25px;
  /* border-radius: 10px; */
  margin: 0 10px;
  border: none;
  &:hover {
    background-color: var(--color1);
    color: var(--color2);
  }
}
/* home page ===================================== */
.HomeCards {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  gap: 2rem;
  justify-content: space-around;
  padding-bottom: 20rem;
}

/* Categories ======================================== */
.categories_Container {
  background-color: brown;
  width: 60rem;
  padding: 10px;
  /* height: 100vh; */
  padding-top: 5rem;
}
.single_catagories {
  background-color: aliceblue;
  margin: 10px 0;
  padding: 10px 20px;
  /* border-radius: 20px; */
  &:hover {
    background-color: aqua;
  }
}
/* ======================================== */
/* nav  */
/* ========================================= */
nav {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 50px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 10px var(--color4);
}
nav .navLink {
  list-style: none;
  text-decoration: none;
  font-size: 2rem;
  color: var(--color3);
  &:hover {
    color: var(--color1);
  }
}
.UserNAme{
  padding-right: 2rem;
}
nav .nav_right{
  display: flex;
  align-items: center;
}
/* =================fullCard ====================== */
.fullCard {
  /* background-color: blueviolet; */
  height: 70vh;
  display: flex;
  padding: 5rem 20rem;
  gap: 3rem;
}
.fullCard img {
  height: 30rem;
}
.fullCard_left {
}
.fullCard_right {
  padding-top: 10rem;
}
/* =======Limited ==================== */
.Limited_outer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.limited_button{
  display: flex;
  gap: 3rem;
  padding: 2rem;
}
.limited_button button {
  padding: .5rem .8rem;
  width: 10rem;
}
.Limited {
  width: 100vw;
  display: flex;
  gap: 2rem;
  /* background-color: burlywood; */
  justify-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
}
/* ==========VeriousCatagores =========== */
.VeriousCatagores {
  display: flex;
}
/* .=====================TypeProduct========= */
.TypeProduct {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
  padding-top: 5rem;
}

/* =========BigBanner============= */
.BigBanner {
  /* padding-top: 10rem; */
  height: 100vh;
  background-color: var(--color1);
  background-image: url("/src/images/banner.jpg");
  background-size: cover;
}
/* ======================banner  */
.banner {
  height: 30rem;
  background-color: var(--color1);
}

/* ==CategoriesPage=================== */
.CategoriesPage {
  display: flex;
}
/* err ===================== */
.err {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* cart=========================== */
.cart {
  min-height: 80vh;
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 6rem 3rem 3rem;
}
/* footer ==================================== */
footer{
  padding: 2rem 4rem;
}
.footer_buttom{
  text-align: center;
  font-size: .7rem;
  line-height: 1rem;
  padding: 1rem;
}
.footer_up {
width: 60%;
/* background-color: aqua; */
}
.footer_up tr{

}
.footer_up th{
  width: 20rem;
font-size: .9rem;
line-height: 2rem;
text-align: left;
}
.footer_up td{
  width: 20rem;
font-size: .7rem;
line-height: 1.5rem;
}
.footer_down{
  line-height: 2rem;
  width: 40%;
  /* background-color: aqua; */
}
.footer_sign{
font-size: .9rem;
}
.footer_signUp{
font-size: .7rem;
}
.footer_icons{
  display: flex;
  width: 10rem;
  padding: 1rem 0;
  gap: 1rem;
}
.footer_down
 input{
  border: none;
  border-bottom: 1px solid ;
}
/* BigCard ========================================= */
.BigCard{
  /* background-color: aquamarine; */
  min-height:100vh;
  padding: 20vh 10vh 50vh;
}
.total_BigCard{
display: flex;
gap: 5rem;
padding: 0 20rem;
}
.BigCard_img{
  height: 30rem;
  width: 20rem;
  
}
.BigCard_title{
  font-size: 2rem;
  line-height: 2rem;
}
.left_BigCard{

}
.right_BigCard{
line-height: 2.5rem;
}
.BigCard_price{
font-size: 1.5rem;
font-style: italic;
}
.BigCard_description{
  line-height: 1.5rem;

}
.BigCard_category{
font-weight: bold;
font-size: 1.8rem;
text-decoration: underline;
padding-bottom: 1rem;
}
.BigCard_user{
display: flex;
gap: 2rem;
}
.BigCard_rate{

}
.BigCard_count{

}
/* Home========================= */
.home{
  min-height: 100vh;
}
.Home_deading{
  text-align: center;
  /* background-color: aqua; */
  width: 100vw;
  padding: 4rem 0 3rem;
  /* text-decoration: underline; */
}
.home_button{
  /* background-color: aqua; */
  /* margin: 20rem; */
  text-align: center;
  width: 100%;
  padding: 2rem;
}
.home_button button{
  padding: .5rem .8rem;
  width: 10rem;
}
.home_products{
  /* background-color: pink; */
  display: flex;
  justify-content: space-around;
}