* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}
:root {
  --color1: #160f29;
  --color2: #246a73;
  --color3: #368f8b;
  --color4: #f3dfc1;
  --color5: #ddbea8;
}
:root {
  --input-padding: 7px 12px;
  --input-bg-color: var(--color4);
  --input-border-bottom: 2px solid var(--color4);
  --input-margin: 2px 0px;
  --input-outline: none;
}
:root {
  --button-padding: 14px 0;
  --button-width: 11.7rem;
}
