* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
:root {
  --color1: #160F29;
  --color2: #246A73;
  --color3: #368F8B;
  --color4: #F3DFC1;
  --color5: #DDBEA8;
}
:root {
  --input-padding: 7px 12px;
  --input-bg-color: var(--color4);
  --input-border-bottom: 2px solid var(--color4);
  --input-margin: 2px 0px;
  --input-outline: none;
}
:root {
  --button-padding: 14px 0;
  --button-width: 11.7rem;
}
